app:
  name: "go_api"
  schema: "http"
  host: "0.0.0.0"
  port: "8080"
  env: "local"
logger:
  logLevel: "debug"
  sentryDsn: "https://123@123.ingest.sentry.io/123"
jwt:
  secret: "secret"
  ttl: 3600
hashPass:
  memory: 64
  iterations: 10
  keyLength: 32
  saltLength: 16
  parallelization: 4
mongo:
  username: "root"
  password: "root"
  hostname: "localhost:27017"
  dbname: "go_api"